<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Room</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <style>
      .messages {
        height: 500px;
        background-color: rgb(216, 216, 216);
        margin: 50px 0px 20px 0px;
      }

      #messages {
        list-style: none;
        padding: 0px;
      }

      .message {
        background-color: #808080;
        color: #fff;
        padding: 10px;
        margin: 5px 0px;
        border-radius: 50px;
      }

      .btn {
        margin-left: 10px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <span class="navbar-brand mb-0 h1">Chat Room</span>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="messages rounded-sm col-md-6">
          <ul id="messages"></ul>
        </div>
      </div>
    </div>

    <div>
      <form class="form-inline" onsubmit="event.preventDefault(); sendMsg();">
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            id="message"
            placeholder="Enter your message"
          />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script src="http://localhost:8080/socket.io.js"></script>
    <script>
      const socket = io("http://localhost:8080", { transports: ["websocket"] });
      socket.on("clientConnected", function (msg) {
        console.log(msg);
      });

      socket.on("chatroom", function (msg) {
        console.log(`from server ${msg}`);
        // TODO: populate the chat message area
        $("#messages").append("<li class='message'>" + msg + "</li>");
      });

      socket.on("broadcast", function (msg) {
        console.log(`This is the message that was sent: ${msg}`);
      });

      function sendMsg() {
        var message = document.getElementById("message").value;
        console.log(`This is from HTML ${message}`);
        socket.emit("chatroom", message);
      }

      function broadcast() {
        socket.emit("broadcast", "This is a broadcast message");
      }
    </script>
  </body>
</html>
